.card-number {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  text-align: center;
  color: white;
}
.black {
  background-color: black;
}
.red {
  background-color: red;
}
.zero {
  background-color: green;
}

