<div class="container-fluid p-5">
  <div class="row">
    <div class="col-3">
      <div class="button-group">
        <button type="button" class="btn btn-success mr-2" (click)="onClickStart()" [disabled]="!bet">Start</button>
        <button type="button" class="btn btn-danger mr-2" (click)="onClickStop()">Stop</button>
        <button type="button" class="btn btn-warning" (click)="onClickReset()">Reset</button>
      </div>
    </div>
    <div class="col-3">
      <input type="number" [(ngModel)]="bet"/><br>
     <label for="black" class="mr-2">Black <input id="black" name="radio" type="radio" #radioBlack></label>
     <label for="red" class="mr-2">Red <input id="red" name="radio"  type="radio" #radioRed></label>
     <label for="zero" class="mr-2">Zero <input id="zero" name="radio"  type="radio" #radioZero></label><br>
      <span>Balance: <strong>{{ balance }}</strong></span>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="mb-2 mr-2 card-number" *ngFor="let item of numbers" [appChangeBackgroundDirective]="item.color">
      <span>{{ item.number }}</span>
    </div>
  </div>
</div>
